.theme-dark {
    --text-normal: #ffffff;
    --background-primary: #353535;
    --background-secondary: #2d2d2d;
    --background-secondary-alt: #313131;
    --background-tertiary: #282828;
    --background-accent: #1b6acb;
    --background-floating: #282828;
    --background-mobile-primary: #353535;
    --background-mobile-secondary: #2d2d2d;
    --background-modifier-selected: #353535;
    --background-modifier-accent: #282828;
    --background-mentioned: rgba(245, 121, 0, 0.05);
    --background-mentioned-hover: rgba(245, 121, 0, 0.08);
    --background-message-hover: rgba(40, 40, 40, 0.3);
    --background-help-warning: rgba(245, 121, 0, 0.1);
    --background-help-info: rgba(27, 106, 203, 0.1);
    --scrollbar-thin-thumb: #a4a4a3;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #a4a4a3;
    --scrollbar-auto-track: #313131;
    --scrollbar-auto-scrollbar-color-thumb: #a4a4a3;
    --scrollbar-auto-scrollbar-color-track: #2d2d2d;
    --channeltextarea-background: #2d2d2d;
    --logo-primary: #1b6acb;
    --focus-primary: #1b6acb;
    --activity-card-background: #282828;
    --textbox-markdown-syntax: #1b6acb;
    --radio-group-dot-foreground: #1b6acb;
    --dnome-base: #2d2d2d;
    --dnome-bg: #353535;
    --dnome-sidebar: #313131;
    --dnome-border: #1b1b1b;
    --dnome-dark-fill: #282828;
    --dnome-scroll-bg: #313131;
    --dnome-fg: #eeeeec;
    --dnome-scrollbar-slider-color: #a4a4a3;
    --dnome-accent: #1b6acb;
    --dnome-link-color: #629fea;
    --dnome-text-color: #ffffff;
    --dnome-warning: #f57900;
    --dnome-darker-base: #202020;
    --dnome-darker-accent: #15539e;
    --dnome-faded-accent: rgba(27, 106, 203, 0.4);
    --dnome-error: #cc0000;
  }
  .theme-light {
    --text-normal: #000000;
    --background-primary: #f6f5f4;
    --background-secondary: #ffffff;
    --background-secondary-alt: #fbfafa;
    --background-tertiary: #f2f0ef;
    --background-accent: #3584e4;
    --background-floating: #f2f0ef;
    --background-mobile-primary: #f6f5f4;
    --background-mobile-secondary: #ffffff;
    --background-modifier-selected: #f6f5f4;
    --background-modifier-accent: #f2f0ef;
    --background-mentioned: rgba(245, 121, 0, 0.05);
    --background-mentioned-hover: rgba(245, 121, 0, 0.08);
    --background-message-hover: rgba(242, 240, 239, 0.3);
    --background-help-warning: rgba(245, 121, 0, 0.1);
    --background-help-info: rgba(53, 132, 228, 0.1);
    --scrollbar-thin-thumb: #7e8182;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #7e8182;
    --scrollbar-auto-track: #cecece;
    --scrollbar-auto-scrollbar-color-thumb: #7e8182;
    --scrollbar-auto-scrollbar-color-track: #ffffff;
    --channeltextarea-background: #ffffff;
    --logo-primary: #3584e4;
    --focus-primary: #3584e4;
    --activity-card-background: #f2f0ef;
    --textbox-markdown-syntax: #3584e4;
    --radio-group-dot-foreground: #1b6acb;
    --dnome-base: #ffffff;
    --dnome-bg: #f6f5f4;
    --dnome-sidebar: #fbfafa;
    --dnome-border: #cdc7c2;
    --dnome-dark-fill: #f2f0ef;
    --dnome-scroll-bg: #cecece;
    --dnome-fg: #2e3436;
    --dnome-scrollbar-slider-color: #7e8182;
    --dnome-accent: #3584e4;
    --dnome-link-color: #629fea;
    --dnome-text-color: #000000;
    --dnome-warning: #f57900;
    --dnome-darker-base: #f2f2f2;
    --dnome-darker-accent: #1b6acb;
    --dnome-faded-accent: rgba(27, 106, 203, 0.3);
    --dnome-error: #cc0000;
  }
  .theme-dark div[class*="autocomplete-"],
  .theme-light div[class*="autocomplete-"],
  .theme-dark div[class*="tierHeaderLocked-"],
  .theme-light div[class*="tierHeaderLocked-"] {
    background-color: var(--dnome-dark-fill);
  }
  .theme-dark div[class*="selectable-"],
  .theme-light div[class*="selectable-"],
  .theme-dark div[class*="perksModal"],
  .theme-light div[class*="perksModal"] {
    background-color: var(--dnome-base);
  }
  .theme-dark div[class*="autocompleteRowVertical"] > div[class*="selectable-"][class*="selected-"],
  .theme-light div[class*="autocompleteRowVertical"] > div[class*="selectable-"][class*="selected-"] {
    background-color: var(--dnome-bg) !important;
  }
  .theme-dark div[class*="selected-"]:not([class*="tabBarItem"], [class*="gifFavoriteButton"]),
  .theme-light div[class*="selected-"]:not([class*="tabBarItem"], [class*="gifFavoriteButton"]),
  .theme-dark div[class*="tierBody"],
  .theme-light div[class*="tierBody"],
  .theme-dark ul[class*="perks"] > li[class*="perk-"],
  .theme-light ul[class*="perks"] > li[class*="perk-"] {
    background-color: var(--dnome-bg);
  }
  .theme-dark div[class*="uploadModal-"],
  .theme-light div[class*="uploadModal-"] {
    background-color: var(--background-primary);
  }
  .theme-dark div[class*="uploadModal-"] > div[class*="footer"],
  .theme-light div[class*="uploadModal-"] > div[class*="footer"] {
    background-color: var(--background-tertiary);
  }
  .theme-dark div[class*="peopleColumn-"],
  .theme-light div[class*="peopleColumn-"] {
    background-color: var(--background-primary);
  }
  div[class*="colorDefault"]:not([class*="hideInteraction"]):hover,
  div[class*="colorDefault"][class*="focused"] {
    background-color: var(--dnome-accent);
  }
  div[class*="colorDefault"]:active {
    background-color: var(--dnome-darker-accent) !important;
  }
  div[class*="colorDefault"][class*="colorBrand"]:not(:hover) {
    color: var(--interactive-normal);
  }
  div[class*="colorDefault"] path[class*="checkbox-"] {
    color: var(--dnome-accent);
  }
  div[class*="colorBrand"] {
    color: var(--dnome-accent);
  }
  div[class*="wrapper"][class*="selected"] > div[class*="childWrapper"],
  div[class*="wrapper"]:hover > div[class*="childWrapper"] {
    background-color: var(--dnome-accent) !important;
  }
  div[class*="folder-"],
  span[class*="expandedFolderBackground"] {
    background-color: var(--background-primary);
  }
  div[class*="itemCard-"] > div > div[class*="body"] {
    background-color: var(--dnome-bg);
  }
  div[class*="itemCard-"]:hover {
    background-color: var(--dnome-darker-base) !important;
  }
  div[style*="background-color: rgb(67, 181, 129)"] {
    background-color: var(--dnome-accent) !important;
  }
  div[class*="selectedCategoryItem"][class*="categoryItem"] > div[class*="itemInner"] {
    background-color: var(--dnome-accent);
  }
  button[class*="button-"][class*="lookOutlined-"]:hover {
    background-color: var(--dnome-darker-accent);
  }
  #search-results {
    background-color: var(--dnome-base);
  }
  #search-results div[role="option"]:hover,
  #search-results div[role="option"][aria-selected="true"] {
    background-color: var(--dnome-dark-fill);
  }
  #search-results div[role="option"]:after {
    background: transparent;
  }
  div[class*="modal"][class*="small"] {
    background-color: var(--dnome-base);
  }
  div[class*="modal"][class*="small"] > div[class*="footer"] {
    background-color: var(--dnome-dark-fill);
  }
  div[class*="userPopout"] div[class*="headerNormal"] {
    background-color: var(--dnome-dark-fill);
  }
  div[class*="userPopout"] div[class*="headerPlaying"] {
    background-color: var(--dnome-accent);
  }
  div[class*="userPopout"] > div[class*="body"],
  div[class*="userPopout"] div[class*="footer"],
  div[class*="userPopout"] div[class*="root"][aria-label*="Role"] {
    background-color: var(--dnome-bg);
  }
  div[class*="userPopout"] input {
    border-color: var(--dnome-accent) !important;
  }
  div[role="dialog"] > div[class*="root-"] {
    background-color: var(--background-primary);
  }
  div[role="dialog"] > div[class*="root-"] > form > div[class*="footer"] {
    background-color: var(--background-tertiary);
  }
  div[role="dialog"] > div[class*="root-"] > div[class*="footer"] {
    background-color: var(--background-tertiary);
  }
  div[role="dialog"] > div[class*="root-"] > div[class*="content"] > div[class*="message"] {
    background-color: var(--background-primary);
  }
  div[class*="roundButton"][class*="activeButton"] {
    background-color: var(--dnome-accent);
  }
  div[class*="mentioned-"]::before {
    background-color: var(--dnome-warning);
  }
  [class*="lookFilled"][class*="color"]:not([class*="colorPrimary"]) {
    background-color: var(--dnome-accent) !important;
  }
  div[class*="control"] > div[style*="background-color: rgb(67, 181, 129)"] {
    background-color: var(--dnome-accent) !important;
  }
  circle[class*="radioIconForeground"] {
    color: var(--dnome-accent);
  }
  div[class*="checkbox"][class*="checked"] {
    border-color: var(--dnome-accent) !important;
  }
  div[class*="checkbox"][class*="checked"] > svg > path {
    fill: var(--dnome-accent);
  }
  div[class*="checkbox"][class*="checked"][style*="background-color: rgb(114, 137, 218)"] {
    background-color: var(--dnome-accent) !important;
  }
  div[class*="checkbox"][class*="checked"][style*="background-color: rgb(114, 137, 218)"] > svg > path {
    fill: #ffffff;
  }
  div[class*="newMessagesBar"],
  div[class*="topSectionPlaying"] {
    background-color: var(--dnome-accent);
  }
  svg[class*="premiumIcon"] {
    color: var(--dnome-accent);
  }
  button[class*="shinyButton"] > div[class*="premiumSubscribeButton"] > svg[class*="premiumIcon"] {
    color: #fff;
  }
  div[class*="tipTitle"] {
    color: var(--dnome-accent);
  }
  div[class*="colorPremium"] svg[class*="icon-"] {
    color: var(--dnome-accent);
  }
  span[class*="botTag-"] {
    background-color: var(--dnome-accent);
  }
  span[class*="botTag-"][class*="botTagInvert-"] {
    background-color: #fff;
    color: var(--dnome-accent);
  }
  div[class*="previewContainer-"] > div[class*="previewOverlay-"] {
    background-color: var(--background-secondary) !important;
    border-color: var(--background-primary) !important;
  }
  span[class*="wrapper-"][class*="mention"] {
    color: var(--dnome-link-color);
    background-color: var(--background-help-info);
  }
  span[class*="wrapper-"][class*="mention"]:not([class*="hideInteraction"]):hover {
    color: #ffffff !important;
    background-color: var(--dnome-link-color) !important;
  }
  div[class*="warning"] {
    border-color: var(--dnome-warning);
  }
  div[class*="barFill"] {
    background-color: var(--dnome-accent);
  }
  div[class*="progressContainer"] > div > div[class*="progressBar"] {
    background-color: var(--dnome-accent) !important;
  }
  div[class*="isUnread"] {
    border-color: var(--dnome-accent);
  }
  div[class*="isUnread"] > span[class*="unreadPill"] {
    background-color: var(--dnome-accent);
  }
  div[class*="isUnread"] > span[class*="unreadPill"] > svg > path[class*="unreadPillCap"] {
    color: var(--dnome-accent);
    fill: var(--dnome-accent);
  }
  div[class*="isUnread"] > span[class*="content"] {
    color: var(--dnome-accent);
  }
  div[class*="circleIconButton"] {
    color: var(--dnome-accent);
  }
  div[class*="circleIconButton"][class*="selected"] {
    background-color: var(--dnome-accent) !important;
  }
  button[class*="buttonColor"] {
    color: #ffffff !important;
  }
  div[class*="uploadModalIn-"] div[class*="uploadDropModal-"] div[class*="bgScale-"] {
    background-color: var(--dnome-accent);
  }
  div[class*="uploadModalIn-"] div[class*="uploadDropModal-"][class*="error-"] {
    background-color: var(--dnome-error);
  }
  div[class*="uploadModalIn-"] div[class*="uploadDropModal-"][class*="error-"] div[class*="instructions"] {
    color: #ffffffee;
  }
  div[class*="reactionMe"] {
    background-color: var(--dnome-faded-accent) !important;
  }
  div[class*="notice-"] {
    background-color: var(--dnome-accent);
  }
  div[class*="notice-"][class*="colorBrand"] {
    color: #fff;
  }
  div[class*="fakeButton-"] {
    background-color: var(--dnome-accent);
  }
  svg[class*="iconTierThree-"] {
    color: #fff;
  }
  div[class*="flowerStarContainer"] > svg[class*="flowerStar"] > path {
    fill: var(--dnome-accent);
  }
  button[class*="selectorButton-"][class*="selectorButtonSelected"] {
    background-color: var(--dnome-accent);
  }
  button[class*="selectorButton-"]:not([class*="selectorButtonPremiumRequired-"]):hover {
    background-color: var(--dnome-accent);
  }
  div[class*="sourceThumbnail"][class*="selected"] {
    box-shadow: inset 0 0 0 2px var(--dnome-accent);
  }
  div[aria-controls="Discord Nitro-tab"][aria-selected="false"],
  div[aria-controls="GUILD_PREMIUM-tab"][aria-selected="false"] {
    color: var(--interactive-normal) !important;
  }
  div[aria-controls="Discord Nitro-tab"][aria-selected="false"][style*="background-color"],
  div[aria-controls="GUILD_PREMIUM-tab"][aria-selected="false"][style*="background-color"] {
    background-color: var(--background-modifier-hover) !important;
  }
  div[aria-controls="Discord Nitro-tab"][aria-selected="true"],
  div[aria-controls="GUILD_PREMIUM-tab"][aria-selected="true"] {
    color: var(--interactive-active) !important;
    background-color: var(--background-modifier-selected) !important;
  }
  